body {
    background: linear-gradient(to right, 
        #a1a1a0, 
        #979392, 
        #383e42, 
        #42698c, 
        #004f7c, 
        #007cb0, 
        #c5c7c4);
    background-size: 300% 300%;
    animation: gradientAnimation 15s ease infinite; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.sidebar h2 {
    margin: 0 0 20px 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background: #495057;
}

.content {
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    color: #ffffff;
}
i{
    padding: 5px;
}